<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    {{ encore_entry_link_tags('app') }}

</head>

<body>
<div class="container">
   <div class="row min-vh-100 m-0 justify-content-center align-items-center">
       <div class="col-lg-7 bg-white">
           <div class="p-5">
               <div class="text-center">
                   <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
               </div>
               {{ form_start(registrationForm,{ 'attr': {'novalidate': 'novalidate','class':'registration_form'} }) }}
               <div class="form-group row">
                   <div class="col-sm-6 mb-3 mb-sm-0">
                       {{ form_widget(registrationForm.firstname) }}
                       {{ form_errors(registrationForm.firstname) }}
                   </div>
                   <div class="col-sm-6">
                       {{ form_widget(registrationForm.lastname) }}
                       {{ form_errors(registrationForm.lastname) }}
                   </div>
               </div>
               <div class="form-group">
                   {{ form_widget(registrationForm.email) }}
                   {{ form_errors(registrationForm.email) }}
               </div>
               <div class="form-group row">
                   <div class="col-sm-6 mb-3 mb-sm-0">
                       {{ form_widget(registrationForm.plainPassword.first ) }}
                       {{ form_errors(registrationForm.plainPassword.first) }}
                   </div>
                   <div class="col-sm-6 mb-3 mb-sm-0">
                       {{ form_widget(registrationForm.plainPassword.second) }}
                       {{ form_errors(registrationForm.plainPassword.second) }}
                   </div>
               </div>
               <button type="submit" class="m-2 btn btn-primary btn-user btn-block">
                   Register Account
               </button>
               {{ form_end(registrationForm) }}
               <div class="text-center">
                   <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
               </div>
           </div>
       </div>
   </div>
</div>

{{ encore_entry_script_tags('app') }}

</body>

</html>